/* fonts */
@font-face {
  font-family: "Liberation";
  src: local("Liberation"),
    url(./assets/fonts/Liberation.ttf) format("truetype");
}

@font-face {
  font-family: "Digitaldream";
  src: local("Digitaldream"),
    url(./assets/fonts/Digitaldream.ttf) format("truetype");
}

@import url("https://fonts.googleapis.com/css2?family=Average+Sans&display=swap");

body {
  margin: 0;
  font-family: "Average Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* ---- tsParticles ---- */
#tsparticles {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

canvas {
  display: block;
}

.tsparticles-canvas-el {
  height: 100%;
}

/* conditional blink animation */
.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}
